
body {
   /*  background-color: bisque; */

   /* background-image: linear-gradient(to bottom, rgb(212, 185, 136), rgb(46, 123, 162));
   background-repeat: no-repeat; */

   background-image: url("img/bg-flowers2.jpg");
   background-size: 200px;
}