@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');

h1 {
     font-family: "El Messiri", sans-serif;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


#title02 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
}


#title03 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-decoration: underline;
}