:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


p:nth-child(odd) {
    margin: 0;
    background-color: aquamarine;
}

p:nth-child(even) {
    margin: 0;
    background-color: rgb(208, 123, 218);
}

p:nth-child(1) {
    text-align: center;
}




a:hover, button:hover {
    color: brown;
    font-size: 15px;
}