h1 {
    color: rgb(141, 38, 72);
    background-color: hsl(329, 36%, 88%);
    text-align: center;
    margin: 1;
    padding: 0px;
}



p {
    background-color: rgb(223, 199, 162);
    text-align: center;
     margin: 1;
    padding: 4px;
}