
input[type="text"], input[type="password"], input[type="Tel"] {
    background-color: rgb(244, 225, 191);
    margin: 10px;
    border: rgb(156, 128, 95) 5px solid;
    border-radius: 15px;
}


div h1 {
    text-align: center;
    border: rgb(80, 147, 112) 5px double;
}

div > h1 {
    background-color: rgb(204, 204, 131);
}

body {
    background-color: rgb(241, 222, 234);
}