* {
    margin: 1;
    padding: 0px;
}

img {
    padding: 0;
}


h1 {
    color: rgb(65, 55, 43);
    background-color: rgb(231, 210, 222);
}


p {
    font-size: 20px;
    color: bisque;
    background-color: rgb(71, 58, 43);
    margin: 0;
    padding: 12px;
}


.textCenter {
    text-align: center;
    text-decoration: underline;
}

#notes {
    border: red solid 11px;
}